ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.right-side ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
